<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main>
                <div class="centered">
                    <h1>
                        Thông tin giờ làm
                    </h1>
                    <hr>
                    <div class="image">
                        <img src="<%= staff.image %>" alt="<%= staff.name %>">
                    </div>
                </div>
                <div class="container">
                    <div>

                        <form class="product-form" action="/timesheet" method="POST">
                            <div class="form-control">
                                <label for="date"><b>Chọn ngày muốn xem: </b></label>
                                <input type="date" name="date" id="date">
                            </div>
                            <div class="centered">
                                <button class="btn" type="submit">Tìm</button>
                            </div>
                        </form>

                        <div class="space-div"></div>

                        <% if (noInfo) { %>
                            <p class="centered"><i class="warning">Không có thông tin timesheet</i></p>
                            <% } else { %>
                                <div></div>
                                <% } %>

                                    <% timesheet.forEach(t=> { %>
                                        <div class="card">
                                            <span class="timesheet-span">Ngày làm việc: <%= t._id.slice(0,10).split('-').reverse().join('-') %> </span>
                                            <span class="timesheet-span">Tổng số giờ làm: <%= t.totalHours %>(h)</span>
                                            <span class="timesheet-span">Tăng ca: <%= t.overTime %>(h)</span>
                                            <hr>
                                            <p>Các phiên điểm danh: </p>
                                            <ul class="checkin-info-list">
                                                <% t.checkin.forEach(checkin => { %>
                                                    <li>
                                                        <span>Bắt đầu:
                                                              <%= checkin.start.getHours() %> : <%=
                                                                    (checkin.start.getMinutes()< 10?'0':'') +
                                                                    checkin.start.getMinutes() %> 
                                                        </span>
                                                        <span>Kết thúc:
                                                            <%= checkin.end.getHours() %>:<%=
                                                                    (checkin.end.getMinutes()< 10?'0':'') +
                                                                    checkin.end.getMinutes() %>
                                                        </span>
                                                        <span>Nơi làm việc:
                                                            <%= checkin.workplace==='home' ? 'Nhà' :
                                                                checkin.workplace==='customer_company' ? 'Khách hàng'
                                                                : 'Công ty' %>
                                                        </span>
                                                    </li>
                                                    <% }) %>
                                            </ul>
                                        </div>
                                        <% }) %>
                    </div>
                </div>

                <div class="space-div"></div>

                <div class="centered">
                    <b>Xem lương tháng</b>
                    <hr>
                    <% for (const [key, value] of Object.entries(months)) { %>
                        <a href="/salary/<%= key %>" class="btn">
                            <%= key %>
                        </a>
                    
                        <% } %>
                </div>

            </main>

            <%- include('./includes/end.ejs') %>